<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>کمک‌ها</title>
</head>
<body>
    <h1>لیست کمک‌ها</h1>
    <table border="1">
        <tr>
            <th>نام</th>
            <th>مقدار کمک</th>
            <th>تاریخ</th>
            <th>نام پروژه</th>
            <th>یادداشت</th>
        </tr>
        {% for donation in donations %}
        <tr>
            <td>{{ donation[1] }}</td>
            <td>{{ donation[2] }}</td>
            <td>{{ donation[3] }}</td>
            <td>{{ donation[4] }}</td>
            <td>{{ donation[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">بازگشت به صفحه اصلی </a>
</body>
</html>
